@tailwind base;
@tailwind components;
@tailwind utilities;

html { background: #080909; word-break: keep-all; }
body { margin: 0; }
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto !important; }
}
